# Ignore Python cache and virtual environments
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/

# Ignore local environment files
.env
.env.local
*.log

# Ignore Django migration cache
**/migrations/__pycache__/

# Ignore media and static files
/media/
*/staticfiles/
*/static/

# Ignore IDE/editor-specific files
.vscode/
.idea/
*.swp

# Ignore Git-related files
.git
.gitignore